################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/build/win-x64/certguard-agent-win-x64.zip
/src/build/win-x64/certguard-agent.exe

 /src/build
 /deploy/build
 **/[Bb]in/
 **/[Oo]bj/
 .vs/
 *.sourcelink.json

 /src/build/
 /src/CertGuard.Agent/.publish/	
/src/CertGuard.Agent/.publish
